{% extends 'layout/index.html' %}

{% block about %}

<!-- Quienes Somos -->
<section id="quien" class="wrapper style3 fade-up">
    <div class="inner">
        <h2 class="logo_font">GOOD STAMPA ?</h2>
        <p>El mundo digital avanza a pasos agigantados. Por ello, nosotros desarrollamos una estrategia con la
            cual estaremos actualizados día a día con esta plataforma</p>
        <div class="features">
            <section>
                <span class="icon major fa-code"></span>
                <h3>Desarrollo Web / App</h3>
                <!--Everything its build along your business-->
                <p>Nos amoldamos a las necesidades de su negocio con nuestra alta capacidad en la programación
                </p>
            </section>
            <section>
                <span class="icon major fa-lock"></span>
                <h3>Seguridad</h3>
                <!--We offer a confident work-->
                <p>Nos comprometemos a la protección y confidencialidad de sus datos</p>
            </section>
            <section>
                <span class="icon major fa-cog"></span>
                <h3>Configuración RRSS</h3> <!-- Templates ready to use and modify-->
                <p>Organización y planificación de su negocio en las Redes Sociales</p>
            </section>
            <section>
                <span class="icon major fa-desktop"></span>
                <h3>Estadísticas</h3>
                <!--Traking of your web page, social media, never was that easy-->
                <p>Seguimiento en tiempo real de sus Redes Sociales, Página web y App</p>
            </section>
            <section>
                <span class="icon major fa-chain"></span>
                <h3>Fidelización</h3>
                <!--easier to gain customers-->
                <p>Aseguramos la satisfacción de los clientes además de la expansión de su negocio</p>
            </section>
            <section>
                <span class="icon major fa-diamond"></span>
                <h3>Servicio</h3>
                <!--perfect coorperation-->
                <p>Ofrecemos un trabajo profesional a la altura de su negocio y aprovechando al máximo nuestros
                    recursos </p>
            </section>
        </div>
        <ul class="actions">
            <li><a href="#servicios" class="button scrolly">Servicios</a></li>
        </ul>
    </div>
</section>

{% endblock %}