{% extends 'core/index.html' %}

{% block home %}

<!-- Inicio -->
<section id="inicio" class="wrapper style1 fullscreen fade-up">
    <video autoplay muted loop playsinline class="background-video">
        <source src="./assets/img/VideoPrueba.mov" type="video/mp4">
    </video>
    <div class="inner">
        <h1 class="logo_font">GOOD STAMPA</h1>
        <h6>Tu marca más visible</h6>
        <ul class="actions">
            <li><a href="#quien" class="button scrolly">¿Que haceis?</a></li>
            <li><a href="/wp" class="button scrolly">Demo</a></li>
        </ul>
    </div>
</section>


{% endblock %}